.dashboard {
    width: 95%;
    min-height: 100vh;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1366px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    &-standings {
        width: 35%;
        
        @media (max-width: 1366px) {
            width: 100%;
            padding: 20px 0;
        }
    }
    
    &-graph {
        width: 65%;
        
        @media (max-width: 1366px) {
            width: 100%;
            padding: 20px 0;
        }
    }
}
